# Eclipse files
/.classpath
/.project

# Generated web archive
/website/metrics.war

# Compiled class files
*.class

# Possibly modified config file
/website/etc/context.xml

# Copied and possibly modified config file
/website/etc/config

