[submodule "src/build"]
	path = src/build
	url = https://git.torproject.org/metrics-base.git
[submodule "src/submods/metrics-lib"]
	path = src/submods/metrics-lib
	url = https://git.torproject.org/metrics-lib.git
