<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4"
  xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >

  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>
      org.torproject.metrics.web.IndexServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Graphs</servlet-name>
    <servlet-class>
      org.torproject.metrics.web.GraphsServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Graphs</servlet-name>
    <url-pattern>/graphs.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GraphsSubpages</servlet-name>
    <servlet-class>
      org.torproject.metrics.web.graphs.GraphsSubpagesServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GraphsSubpages</servlet-name>
    <url-pattern>/networksize.html</url-pattern>
    <url-pattern>/relayflags.html</url-pattern>
    <url-pattern>/versions.html</url-pattern>
    <url-pattern>/platforms.html</url-pattern>
    <url-pattern>/cloudbridges.html</url-pattern>
    <url-pattern>/bandwidth.html</url-pattern>
    <url-pattern>/bwhist-flags.html</url-pattern>
    <url-pattern>/bandwidth-flags.html</url-pattern>
    <url-pattern>/dirbytes.html</url-pattern>
    <url-pattern>/advbwdist-perc.html</url-pattern>
    <url-pattern>/advbwdist-relay.html</url-pattern>
    <url-pattern>/userstats-relay-country.html</url-pattern>
    <url-pattern>/userstats-relay-table.html</url-pattern>
    <url-pattern>/userstats-censorship-events.html</url-pattern>
    <url-pattern>/userstats-bridge-country.html</url-pattern>
    <url-pattern>/userstats-bridge-table.html</url-pattern>
    <url-pattern>/userstats-bridge-transport.html</url-pattern>
    <url-pattern>/userstats-bridge-version.html</url-pattern>
    <url-pattern>/oxford-anonymous-internet.html</url-pattern>
    <url-pattern>/torperf.html</url-pattern>
    <url-pattern>/torperf-failures.html</url-pattern>
    <url-pattern>/connbidirect.html</url-pattern>
    <url-pattern>/servers-data.html</url-pattern>
    <url-pattern>/bandwidth-data.html</url-pattern>
    <url-pattern>/advbwdist-data.html</url-pattern>
    <url-pattern>/clients-data.html</url-pattern>
    <url-pattern>/torperf-data.html</url-pattern>
    <url-pattern>/connbidirect-data.html</url-pattern>
    <url-pattern>/hidserv-data.html</url-pattern>
    <url-pattern>/hidserv-dir-onions-seen.html</url-pattern>
    <url-pattern>/hidserv-rend-relayed-cells.html</url-pattern>
    <url-pattern>/hidserv-frac-reporting.html</url-pattern>
    <url-pattern>/uncharted-data-flow.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LegacyGraphsSubpages</servlet-name>
    <servlet-class>
      org.torproject.metrics.web.graphs.LegacyGraphsSubpagesServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LegacyGraphsSubpages</servlet-name>
    <url-pattern>/network.html</url-pattern>
    <url-pattern>/users.html</url-pattern>
    <url-pattern>/performance.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Bubbles</servlet-name>
    <servlet-class>
      org.torproject.metrics.web.graphs.BubblesServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bubbles</servlet-name>
    <url-pattern>/bubbles.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Research</servlet-name>
    <servlet-class>
      org.torproject.metrics.web.ResearchServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Research</servlet-name>
    <url-pattern>/research.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ResearchData</servlet-name>
    <servlet-class>
      org.torproject.metrics.web.research.ResearchDataServlet
    </servlet-class>
    <init-param>
      <param-name>localDataDir</param-name>
      <param-value>
        /srv/metrics.torproject.org/db/data/
      </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResearchData</servlet-name>
    <url-pattern>/data.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ResearchPapers</servlet-name>
    <servlet-class>
      org.torproject.metrics.web.research.ResearchPapersServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResearchPapers</servlet-name>
    <url-pattern>/papers.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ResearchTools</servlet-name>
    <servlet-class>
      org.torproject.metrics.web.research.ResearchToolsServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResearchTools</servlet-name>
    <url-pattern>/tools.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ResearchFormats</servlet-name>
    <servlet-class>
      org.torproject.metrics.web.research.ResearchFormatsServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResearchFormats</servlet-name>
    <url-pattern>/formats.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ResearchStats</servlet-name>
    <servlet-class>
      org.torproject.metrics.web.research.ResearchStatsServlet
    </servlet-class>
    <init-param>
      <param-name>statsDir</param-name>
      <param-value>
        /srv/metrics.torproject.org/metrics/shared/stats/
      </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResearchStats</servlet-name>
    <url-pattern>/stats/*</url-pattern>
    <url-pattern>/stats.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RelaySearch</servlet-name>
    <servlet-class>
      org.torproject.metrics.web.status.RelaySearchServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelaySearch</servlet-name>
    <url-pattern>/relay-search.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GraphImage</servlet-name>
    <servlet-class>
      org.torproject.metrics.web.graphs.GraphImageServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GraphImage</servlet-name>
    <url-pattern>/networksize.png</url-pattern>
    <url-pattern>/networksize.pdf</url-pattern>
    <url-pattern>/networksize.svg</url-pattern>
    <url-pattern>/cloudbridges.png</url-pattern>
    <url-pattern>/cloudbridges.pdf</url-pattern>
    <url-pattern>/cloudbridges.svg</url-pattern>
    <url-pattern>/relaycountries.png</url-pattern>
    <url-pattern>/relaycountries.pdf</url-pattern>
    <url-pattern>/relaycountries.svg</url-pattern>
    <url-pattern>/relayflags.png</url-pattern>
    <url-pattern>/relayflags.pdf</url-pattern>
    <url-pattern>/relayflags.svg</url-pattern>
    <url-pattern>/versions.png</url-pattern>
    <url-pattern>/versions.pdf</url-pattern>
    <url-pattern>/versions.svg</url-pattern>
    <url-pattern>/platforms.png</url-pattern>
    <url-pattern>/platforms.pdf</url-pattern>
    <url-pattern>/platforms.svg</url-pattern>
    <url-pattern>/bandwidth.png</url-pattern>
    <url-pattern>/bandwidth.pdf</url-pattern>
    <url-pattern>/bandwidth.svg</url-pattern>
    <url-pattern>/bwhist-flags.png</url-pattern>
    <url-pattern>/bwhist-flags.pdf</url-pattern>
    <url-pattern>/bwhist-flags.svg</url-pattern>
    <url-pattern>/bandwidth-flags.png</url-pattern>
    <url-pattern>/bandwidth-flags.pdf</url-pattern>
    <url-pattern>/bandwidth-flags.svg</url-pattern>
    <url-pattern>/dirbytes.png</url-pattern>
    <url-pattern>/dirbytes.pdf</url-pattern>
    <url-pattern>/dirbytes.svg</url-pattern>
    <url-pattern>/torperf.png</url-pattern>
    <url-pattern>/torperf.pdf</url-pattern>
    <url-pattern>/torperf.svg</url-pattern>
    <url-pattern>/torperf-failures.png</url-pattern>
    <url-pattern>/torperf-failures.pdf</url-pattern>
    <url-pattern>/torperf-failures.svg</url-pattern>
    <url-pattern>/connbidirect.png</url-pattern>
    <url-pattern>/connbidirect.pdf</url-pattern>
    <url-pattern>/connbidirect.svg</url-pattern>
    <url-pattern>/userstats-relay-country.png</url-pattern>
    <url-pattern>/userstats-relay-country.pdf</url-pattern>
    <url-pattern>/userstats-relay-country.svg</url-pattern>
    <url-pattern>/userstats-bridge-country.png</url-pattern>
    <url-pattern>/userstats-bridge-country.pdf</url-pattern>
    <url-pattern>/userstats-bridge-country.svg</url-pattern>
    <url-pattern>/userstats-bridge-transport.png</url-pattern>
    <url-pattern>/userstats-bridge-transport.pdf</url-pattern>
    <url-pattern>/userstats-bridge-transport.svg</url-pattern>
    <url-pattern>/userstats-bridge-version.png</url-pattern>
    <url-pattern>/userstats-bridge-version.pdf</url-pattern>
    <url-pattern>/userstats-bridge-version.svg</url-pattern>
    <url-pattern>/advbwdist-perc.png</url-pattern>
    <url-pattern>/advbwdist-perc.pdf</url-pattern>
    <url-pattern>/advbwdist-perc.svg</url-pattern>
    <url-pattern>/advbwdist-relay.png</url-pattern>
    <url-pattern>/advbwdist-relay.pdf</url-pattern>
    <url-pattern>/advbwdist-relay.svg</url-pattern>
    <url-pattern>/hidserv-dir-onions-seen.png</url-pattern>
    <url-pattern>/hidserv-dir-onions-seen.pdf</url-pattern>
    <url-pattern>/hidserv-dir-onions-seen.svg</url-pattern>
    <url-pattern>/hidserv-rend-relayed-cells.png</url-pattern>
    <url-pattern>/hidserv-rend-relayed-cells.pdf</url-pattern>
    <url-pattern>/hidserv-rend-relayed-cells.svg</url-pattern>
    <url-pattern>/hidserv-frac-reporting.png</url-pattern>
    <url-pattern>/hidserv-frac-reporting.pdf</url-pattern>
    <url-pattern>/hidserv-frac-reporting.svg</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ExoneraTor</servlet-name>
    <servlet-class>
      org.torproject.metrics.web.status.ExoneraTorServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExoneraTor</servlet-name>
    <url-pattern>/exonerator.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ConsensusHealthServlet</servlet-name>
    <servlet-class>
      org.torproject.metrics.web.status.ConsensusHealthServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsensusHealthServlet</servlet-name>
    <url-pattern>/consensus-health.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AboutServlet</servlet-name>
    <servlet-class>
      org.torproject.metrics.web.AboutServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutServlet</servlet-name>
    <url-pattern>/about.html</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <error-page>
    <error-code>400</error-code>
    <location>/WEB-INF/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/WEB-INF/error.jsp</location>
  </error-page>

  <context-param>
    <param-name>rserveHost</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>rservePort</param-name>
    <param-value>6311</param-value>
  </context-param>
  <context-param>
    <param-name>maxCacheAge</param-name>
    <param-value>21600</param-value>
  </context-param>
  <context-param>
    <param-name>cachedGraphsDir</param-name>
    <param-value>
      /srv/metrics.torproject.org/metrics/website/rserve/graphs/
    </param-value>
  </context-param>

  <listener>
    <listener-class>
      org.torproject.metrics.web.graphs.RObjectGenerator
    </listener-class>
  </listener>

</web-app>

