<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4"
  xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >

  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>
      org.torproject.ernie.web.IndexServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Graphs</servlet-name>
    <servlet-class>
      org.torproject.ernie.web.GraphsServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Graphs</servlet-name>
    <url-pattern>/graphs.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GraphsSubpages</servlet-name>
    <servlet-class>
      org.torproject.ernie.web.GraphsSubpagesServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GraphsSubpages</servlet-name>
    <url-pattern>/network.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GraphsSubpages</servlet-name>
    <url-pattern>/users.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GraphsSubpages</servlet-name>
    <url-pattern>/packages.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GraphsSubpages</servlet-name>
    <url-pattern>/performance.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Research</servlet-name>
    <servlet-class>
      org.torproject.ernie.web.ResearchServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Research</servlet-name>
    <url-pattern>/research.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ResearchData</servlet-name>
    <servlet-class>
      org.torproject.ernie.web.ResearchDataServlet
    </servlet-class>
    <init-param>
      <param-name>remoteDataFiles</param-name>
      <param-value>
        /srv/metrics.torproject.org/web/remote-files-for-data-page
      </param-value>
    </init-param>
    <init-param>
      <param-name>localDataDir</param-name>
      <param-value>
        /srv/metrics.torproject.org/db/data/
      </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResearchData</servlet-name>
    <url-pattern>/data.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ResearchPapers</servlet-name>
    <servlet-class>
      org.torproject.ernie.web.ResearchPapersServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResearchPapers</servlet-name>
    <url-pattern>/papers.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ResearchTools</servlet-name>
    <servlet-class>
      org.torproject.ernie.web.ResearchToolsServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResearchTools</servlet-name>
    <url-pattern>/tools.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Status</servlet-name>
    <servlet-class>
      org.torproject.ernie.web.StatusServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Status</servlet-name>
    <url-pattern>/status.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>NetworkStatus</servlet-name>
    <servlet-class>
      org.torproject.ernie.web.NetworkStatusServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NetworkStatus</servlet-name>
    <url-pattern>/networkstatus.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RouterDetail</servlet-name>
    <servlet-class>
      org.torproject.ernie.web.RouterDetailServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RouterDetail</servlet-name>
    <url-pattern>/routerdetail.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Relay</servlet-name>
    <servlet-class>
      org.torproject.ernie.web.RelayServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Relay</servlet-name>
    <url-pattern>/relay.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RelaySearch</servlet-name>
    <servlet-class>
      org.torproject.ernie.web.RelaySearchServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelaySearch</servlet-name>
    <url-pattern>/relay-search.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GraphImage</servlet-name>
    <servlet-class>
      org.torproject.ernie.web.GraphImageServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GraphImage</servlet-name>
    <url-pattern>/networksize.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GraphImage</servlet-name>
    <url-pattern>/relayflags.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GraphImage</servlet-name>
    <url-pattern>/relayflags-hour.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GraphImage</servlet-name>
    <url-pattern>/versions.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GraphImage</servlet-name>
    <url-pattern>/platforms.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GraphImage</servlet-name>
    <url-pattern>/bandwidth.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GraphImage</servlet-name>
    <url-pattern>/dirbytes.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GraphImage</servlet-name>
    <url-pattern>/new-users.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GraphImage</servlet-name>
    <url-pattern>/direct-users.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GraphImage</servlet-name>
    <url-pattern>/bridge-users.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GraphImage</servlet-name>
    <url-pattern>/gettor.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GraphImage</servlet-name>
    <url-pattern>/torperf.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GraphImage</servlet-name>
    <url-pattern>/routerdetail.png</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Csv</servlet-name>
    <servlet-class>
      org.torproject.ernie.web.CsvServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Csv</servlet-name>
    <url-pattern>/csv/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ExoneraTor</servlet-name>
    <servlet-class>
      org.torproject.ernie.web.ExoneraTorServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExoneraTor</servlet-name>
    <url-pattern>/exonerator.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServerDescriptor</servlet-name>
    <servlet-class>
      org.torproject.ernie.web.ServerDescriptorServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerDescriptor</servlet-name>
    <url-pattern>/serverdesc</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ExtraInfoDescriptor</servlet-name>
    <servlet-class>
      org.torproject.ernie.web.ExtraInfoDescriptorServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExtraInfoDescriptor</servlet-name>
    <url-pattern>/extrainfodesc</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Descriptor</servlet-name>
    <servlet-class>
      org.torproject.ernie.web.DescriptorServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Descriptor</servlet-name>
    <url-pattern>/descriptor.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Consensus</servlet-name>
    <servlet-class>
      org.torproject.ernie.web.ConsensusServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Consensus</servlet-name>
    <url-pattern>/consensus</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ErnieGeneratedFile</servlet-name>
    <servlet-class>
      org.torproject.ernie.web.ErnieGeneratedFileServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErnieGeneratedFile</servlet-name>
    <url-pattern>/consensus-health.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErnieGeneratedFile</servlet-name>
    <url-pattern>/consensus-health-1.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErnieGeneratedFile</servlet-name>
    <url-pattern>/consensus-health-2.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Redirect</servlet-name>
    <servlet-class>
      org.torproject.ernie.web.RedirectServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redirect</servlet-name>
    <url-pattern>/networksize.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Redirect</servlet-name>
    <url-pattern>/exit-relays-graphs.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Redirect</servlet-name>
    <url-pattern>/bridge-users-graphs.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Redirect</servlet-name>
    <url-pattern>/new-users-graphs.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Redirect</servlet-name>
    <url-pattern>/consensus-graphs.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Redirect</servlet-name>
    <url-pattern>/recurring-users-graphs.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Redirect</servlet-name>
    <url-pattern>/torperf-graphs.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Redirect</servlet-name>
    <url-pattern>/gettor-graphs.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Redirect</servlet-name>
    <url-pattern>/custom-graph.html</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <error-page>
    <error-code>400</error-code>
    <location>/WEB-INF/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/WEB-INF/error.jsp</location>
  </error-page>

  <resource-ref>
    <description>Tor Metrics Database</description>
    <res-ref-name>jdbc/tordir</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <context-param>
    <param-name>rserveHost</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>rservePort</param-name>
    <param-value>6311</param-value>
  </context-param>
  <context-param>
    <param-name>maxCacheAge</param-name>
    <param-value>21600</param-value>
  </context-param>
  <context-param>
    <param-name>cachedGraphsDir</param-name>
    <param-value>
      /srv/metrics.torproject.org/web/rserve/graphs/
    </param-value>
  </context-param>

  <listener>
    <listener-class>
      org.torproject.ernie.web.RObjectGenerator
    </listener-class>
  </listener>

</web-app>

