<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
  <servlet>
    <servlet-name>NetworkSize</servlet-name>
    <servlet-class>org.torproject.ernie.web.NetworkSizeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NetworkSize</servlet-name>
    <url-pattern>/networksize.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Image</servlet-name>
    <servlet-class>org.torproject.ernie.web.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Image</servlet-name>
    <url-pattern>/graphs/*</url-pattern>
  </servlet-mapping>
</web-app>

