<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4"
  xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >

  <welcome-file-list>
    <welcome-file>
      index.jsp
    </welcome-file>
  </welcome-file-list>

<!--Rewrite Filter. See urlrewrite.xml and http://www.tuckey.org/urlrewrite/-->
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>ExoneraTor</servlet-name>
    <servlet-class>org.torproject.ernie.web.ExoneraTorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExoneraTor</servlet-name>
    <url-pattern>/exonerator.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServerDescriptor</servlet-name>
    <servlet-class>org.torproject.ernie.web.ServerDescriptorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerDescriptor</servlet-name>
    <url-pattern>/serverdesc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Consensus</servlet-name>
    <servlet-class>org.torproject.ernie.web.ConsensusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Consensus</servlet-name>
    <url-pattern>/consensus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ErnieGeneratedFile</servlet-name>
    <servlet-class>org.torproject.ernie.web.ErnieGeneratedFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErnieGeneratedFile</servlet-name>
    <url-pattern>/log.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErnieGeneratedFile</servlet-name>
    <url-pattern>/papers/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErnieGeneratedFile</servlet-name>
    <url-pattern>/reports/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErnieGeneratedFile</servlet-name>
    <url-pattern>/consensus-health.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErnieGeneratedFile</servlet-name>
    <url-pattern>/consensus-health-1.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErnieGeneratedFile</servlet-name>
    <url-pattern>/consensus-health-2.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErnieGeneratedFile</servlet-name>
    <url-pattern>/csv/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErnieGeneratedFile</servlet-name>
    <url-pattern>/graphs/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErnieGeneratedFile</servlet-name>
    <url-pattern>/data/*</url-pattern>
  </servlet-mapping>
  <!--
  <servlet>
    <servlet-name>BridgeUsersGraphs</servlet-name>
    <servlet-class>org.torproject.ernie.web.BridgeUsersGraphsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErnieGeneratedFile</servlet-name>
    <url-pattern>/graphs.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BridgeUsersGraphs</servlet-name>
    <url-pattern>/bridge-users-graphs.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExitRelaysGraphsServlet</servlet-name>
    <servlet-class>org.torproject.ernie.web.ExitRelaysGraphsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitRelaysGraphsServlet</servlet-name>
    <url-pattern>/exit-relays-graphs.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsensusGraphsServlet</servlet-name>
    <servlet-class>org.torproject.ernie.web.ConsensusGraphsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsensusGraphsServlet</servlet-name>
    <url-pattern>/consensus-graphs.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewUsersGraphs</servlet-name>
    <servlet-class>org.torproject.ernie.web.NewUsersGraphsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewUsersGraphs</servlet-name>
    <url-pattern>/new-users-graphs.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecurringUsersGraphs</servlet-name>
    <servlet-class>org.torproject.ernie.web.RecurringUsersGraphsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecurringUsersGraphs</servlet-name>
    <url-pattern>/recurring-users-graphs.html</url-pattern>
  </servlet-mapping>
-->
</web-app>
